@font-face {
    font-family: 'silkscreen';
    src: url('./font/silkscreen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
  font-size: 16px;
  font-family: 'silkscreen', Arial, Helvetica, sans-serif;
  --board-margin: 8rem;
  --space: #131924;
  --light: #D0EBD1;
  --ship: #909590;
  --ship-border: #474A48;
  --accent: #13E621;
  --muted: #1B4736;
  --ship-attacked: #FF1D15;
  --ship-attacked-muted: #8f0500;
}

:root.alt-colors {
  --accent: #0072B2;
  --muted: #0A3A53;
  --ship-attacked: #E69F00;
  --ship-attacked-muted: #996A00;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input, button {
  border: none;
  outline: none;
  background: transparent;
  font: inherit;
}

html {
  background-color: var(--space);
  color: var(--accent);
}

body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2.5rem 3rem 1fr 2.5rem;
  grid-template-areas: 'nav nav' 'info action' 'player1 player2' 'announce announce';
  height: 100vh;
}

nav {
  grid-area: nav;
  background-color: var(--light);
  color: var(--muted);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.25rem;
}

#option-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#new-game {
  color: var(--muted);
  border: 0.125rem solid var(--muted);
  padding: 0.25rem;
  cursor: pointer;
  font-size: 1.25rem;
}

#alt-colors {
  color: var(--muted);
  border: 0.125rem solid var(--muted);
  padding: 0.25rem;
  cursor: pointer;
  font-size: 1.25rem;
}

#info, #action {
  background-color: var(--muted);
  color: var(--light);
}

#info {
  grid-area: info;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.625rem;
}

#action {
  grid-area: action;
  display: flex;
  gap: 0.625rem;
  justify-content: center;
  align-items: center;
}

.game-button {
  color: var(--light);
  border: 0.125rem solid var(--light);
  padding: 0.25rem;
  cursor: pointer;
  font-size: 1.25rem;
}

.game-button:disabled {
  color: var(--ship-border);
  border: 0.125rem solid var(--ship-border);
  padding: 0.25rem;
  font-size: 1.25rem;
}

#fire-button {
  color: var(--ship-attacked);
  border: 0.125rem solid var(--ship-attacked);
  padding: 0.25rem;
  cursor: pointer;
  font-size: 1.25rem;
}

#fire-button:disabled {
  color: var(--ship-attacked-muted);
  border: 0.125rem solid var(--ship-attacked-muted);
  padding: 0.25rem;
  font-size: 1.25rem;
}

#human-button, #cpu-button, #fire-button, #end-button, #start-button {
  display: none;
}

#player1 {
 grid-area: player1; 
 border-right: 1px solid var(--accent);
 position: relative;
}

#player2 {
  grid-area: player2;
  border-left: 1px solid var(--accent);
  position: relative;
  display: none;
}

#setup {
  grid-area: player2;
  border-left: 1px solid var(--accent);
  display: grid;
  grid-template-rows: 2.5rem 1fr 2.5rem;
  grid-template-areas: 'name' 'ship-selection' 'ship-name';
}

#announce {
  border-top: 1px solid var(--accent);
  grid-area: announce;
  background-color: var(--space);
  color: var(--light);
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.25rem;
}

#name {
  margin-left: var(--board-margin);
  margin-right: var(--board-margin);
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

#enter-name {
  background-color: transparent;
  border-bottom: 2px solid var(--accent);
  caret-color: var(--accent);
  color: var(--accent);
}

#ship-selection {
  grid-area: ship-selection;
  margin-left: var(--board-margin);
  margin-right: var(--board-margin);
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(10, 1fr);
  aspect-ratio: 1/1;
}

#ship-name {
  grid-area: ship-name;
  color: var(--accent);
  display: flex;
  justify-content: center;
  align-items: start;
}

.ship {
  background-color: var(--ship);
  box-shadow: inset -2px 0 0 var(--ship-border), inset 0 -2px 0 var(--ship-border), inset 2px 0 0 var(--ship-border), inset 0 2px 0 var(--ship-border);
  cursor: pointer;
}
.ship[data-selected="true"] {
  background-color: var(--ship-border);
}

.small {
  width: 2px;
  height: 2px;
  position: absolute;
  z-index: 0;
}

.medium { 
  width: 3px;
  height: 3px;
  position: absolute;
  z-index: 0;
}

.big {
  width: 4px;
  height: 4px;
  position: absolute;
  z-index: 0;
}

.red {
  background-color: red;
}

.blue {
  background-color: lightblue;
}

.white {
  background-color: white;
}

.yellow {
  background-color: yellow;
}

.gameboard {
  margin-left: 6rem;
  margin-right: 6rem;
  display: grid;
  grid-template-rows: repeat(11, 1fr);
  grid-template-columns: repeat(11, 1fr);
  aspect-ratio: 1/1;
}

.cell-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125 rem;
  z-index: 20;
}

.enemy[data-selected='true'] {
  color: var(--ship-attacked);
}

.cell-inner {
  border: 1px solid var(--accent);
  z-index: 20;
}

.cell-clicked {
  border: 1px solid var(--ship-attacked);
}

.cell-ship {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--ship);
  box-shadow: inset -2px 0 0 var(--ship-border), inset 0 -2px 0 var(--ship-border), inset 2px 0 0 var(--ship-border), inset 0 2px 0 var(--ship-border);
}

.cell-attacked.cell-ship::after {
  content: "X";
  color: var(--ship-attacked);
  font-size: 1.625rem;
}

.cell-attacked:not(.cell-ship) {
    background: repeating-linear-gradient(
    -45deg,
    var(--muted),
    var(--muted) 2px,
    transparent 2px,
    transparent 10px
  );
}